*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
body{
  background-image: url('https://sfondo.info/i/original/0/8/6/53925.jpg');
  background-size: cover;
  color:white;
}
.oggetti,
.nomi,
.proprieta{
  float: left;
  width: 30%;
  padding:50px 0px;
  text-align: right;
}
.proprieta{
  text-align: left;
}
.oggetti a{
  text-decoration: none;
  color:white;
}
.oggetti a:hover{
  color:orange;
}
li {
  list-style-type: none;
}
